<div class="main">
<div class="btn-group" id="digitcode_btn" role="group" aria-label="...">
  <button type="button" class="btn btn-default active" pval = "8">8 digit commodity codes</button>
  <button type="button" class="btn btn-default" pval = "6">6 digit combined nomenclature</button>
  <button type="button" class="btn btn-default" pval = "4">4 digit combined nomenclature</button>
  <button type="button" class="btn btn-default" pval = "2">2 digit sections</button>
  <button type="button" class="btn btn-default" pval = "1">2 digit chapters</button>
</div>
</div>
