{% extends "base.html" %}

{% block content %}


<div class="container">

<div class="main">
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default active" pval = "8">8 digit commodity codes</button>
  <button type="button" class="btn btn-default" pval = "6">6 digit combined nomenclature</button>
  <button type="button" class="btn btn-default" pval = "4">4 digit combined nomenclature</button>
  <button type="button" class="btn btn-default" pval = "2">2 digit sections</button>
  <button type="button" class="btn btn-default" pval = "1">2 digit chapters</button>
</div>
</div>

<div id="filters" class="main">


</div>

<div id="spinnerdiv">
	<img src= {{ url_for('static', filename = 'spinner.gif') }} class="spinner" alt="previous" title="Previous" border="0">

</div>

<div id="too_many">
	<h4>Too many results returned - please select a simpler query</h4>
</div>

<div id="no_results">
	<h4>No results were returned for your query</h4>
</div>


<div id="mapcontainer" class="main all_results" >
<img src= {{ url_for('static', filename = 'spinner.gif') }} class="spinner" alt="previous" title="Previous" border="0">
	<p>Imports received by product, country of origin, and port.   Hover over countries to see further details.  Select item(s) from the boxes above to filter data.</p>
</div>

<div id="sankeycontainer" class="main all_results">
<img src= {{ url_for('static', filename = 'spinner.gif') }} class="spinner" alt="previous" title="Previous" border="0">
  <p>Sankey diagram of consignments by country of origin, product, and DPE</p>
</div>

<div id="timeseriescontainer" class="main all_results">
<img src= {{ url_for('static', filename = 'spinner.gif') }} class="spinner" alt="previous" title="Previous" border="0">
	<p>Time series of value of imports</p>

<form id="stack_type_radio_buttons">
<input type="radio" name="stack_type" value="port" checked="checked">Stack by port
<input type="radio" name="stack_type" value="country">Stack by country of origin
<input type="radio" name="stack_type" value="product_code">Stack by product_code
</form>

</div>

<div id="importerscontainer" class="main all_results">
<img src= {{ url_for('static', filename = 'spinner.gif') }} class="spinner" alt="previous" title="Previous" border="0">
	<p>Since 2014, these products have been imported by (this list is not exhaustive):</p>
</div>

<div class="tooltip"></div>


</div>



{% endblock %}


{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
<script src="{{url_for('static', filename='select2.min.js') }}"></script>

<script src="{{url_for('static', filename='handlebars-v3.0.0.js') }}"></script>
<script src="{{url_for('static', filename='underscore-min.js') }}"></script>
<script src="{{url_for('static', filename='d3.v3.min.js') }}"></script>
<script src="{{url_for('static', filename='topojson.v1.min.js') }}"></script>
<script src="{{url_for('static', filename='queue.v1.min.js') }}"></script>
<script src="{{url_for('static', filename='sankey.js') }}"></script>
<script src="{{url_for('static', filename='main.js') }}"></script>


{% raw %}

<script id="map-tooltip-template" type="text/x-handlebars-template">
<p><strong>Country: </strong>{{this_country}}</p>
<p><strong>Total value of exports to the UK: </strong>{{quantity_exports}}</p>
</script>


{% endraw %}


{% endblock %}

{%- block styles %}
{{super()}}

<link href="{{ url_for('static', filename='select2.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet" media="screen">
{%- endblock styles %}
