{% extends "base.html" %}



{% block content %}


<div class="container">

{{url_for('static', filename='all.json')}}
<div id="treemap" class="main">


</div>

</div>

{% endblock %}


{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
<script src="{{url_for('static', filename='select2.min.js') }}"></script>
<script src="{{url_for('static', filename='leaflet.js') }}"></script>
<script src="{{url_for('static', filename='handlebars-v3.0.0.js') }}"></script>
<script src="{{url_for('static', filename='underscore-min.js') }}"></script>
<script src="{{url_for('static', filename='d3.v3.min.js') }}"></script>
<script src="{{url_for('static', filename='treemap.js') }}"></script>




{% endblock %}

{%- block styles %}

{{super()}}

<link href="{{ url_for('static', filename='select2.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='treemap.css') }}" rel="stylesheet" media="screen">
{%- endblock styles %}